@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Montserrat:wght@300;400&family=Roboto&family=Urbanist:wght@200;400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Urbanist", sans-serif;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}
.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8d1d1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d8d1d1;
}
